@{
    ViewBag.Title = "About";
}


@*START OF UPDATES PANEL*@
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2018-01-15">
                January 15, 2018
                <ul id="2018-01-15" class="collapse">
                    <li>
                        Created Project
                    </li>
                </ul>

            <li class="list-group-item" data-toggle="collapse" data-target="#2018-01-16">
                January 16, 2018
                <ul id="2018-01-16" class="collapse">
                    <li>
                        Created Structure.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#2018-01-18">
                January 18, 2018
                <ul id="2018-01-18" class="collapse">
                    <li>
                        Created UI for Testing of Sending an Email.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#2018-01-29">
                January 29, 2018
                <ul id="2018-01-29" class="collapse">
                   
                    <li>
                        Created UI and Functions of Login.
                    </li>

                    <li>
                        Added UI Credentials.
                    </li>

                    <li>
                        Added Function Sending Email.
                    </li>

                    <li>
                       Added Grid List.
                    </li>

                    <li>
                        Added Configuration of SMTP.
                    </li>

                    <li>
                        Added API Controllers.
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>
@*END OF UPDATES PANEL*@


@*START OF DEVELOPED BY PANEL*@
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-10</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/cris-dismaya-955b61156/">
                    Cris L. Dismaya
                </a>
                <br />
                <span class="badge">2018-03</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/fahrel-bresenio-b92137157/">
                    Fahrel Grei Bresenio
                </a>
                <br />
                <span class="badge">2018-02</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/gladelyn-galamiton-489137157/">
                    Gladelyn G. Galamiton
                </a>
                <br />
                <span class="badge">2018-03</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/harold-gomez-251502157/">
                    Harold Keith S. Gomez
                </a>
                <br />
                <span class="badge">2018-03</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/chris-jerico-albino-189238147/">
                    Chris Jerico Albino
                </a>
                <br />
                <span class="badge">2018-03</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/ravi-renz-olayres-243292155/">
                    Ravi Renz G. Olayres
                </a>
                <br />
                <span class="badge">2018-02</span>
            </li>
        </ul>
    </div>
</div>
@*END OF DEVELOPED BY PANEL*@
