/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
nav{
    border-left:1px solid;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.footer {
    position: fixed;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color: lightgray;
}

