<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="border">
            <form action="~/Credential/Login" method="post">
                <fieldset>
                    <legend> Sign in </legend>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input autocomplete="off" type="text" class="form-control" id="username" placeholder="Username" name="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input autocomplete="off" type="password" class="form-control" id="password" placeholder="Password" name="Password">
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<style>
    nav { display: none; } 
    .row {  margin-top: 15%; } 
    .border { border-radius: 5px; background-color: #f2f2f2; padding: 20px; }
</style>